.forum-card {
  background: var(--primary-card);
  border: 1px solid #222;
  padding: 1rem;
  text-decoration: none;
  color: var(--text-primary);
  border-radius: 4px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word; 
  overflow-wrap: break-word;
}

.forum-card:hover {
  transform: translateY(-5px);
  border-color: var(--secondary-main);
  box-shadow: 0 5px 15px var(--secondary-main);
}

.forum-card h3 {
  color: var(--secondary-main);
  margin-top: 0;
}

.forum-card p {
  color: var(--text-secondary);
  font-size: 0.9rem;
  line-height: 1.5;
}

.card-footer {
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid var(--secondary-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: var(--text-secondary);
}

.delete-forum-btn {
  background: var(--error-red);
  color: var(--text-primary);
  border: 1px solid var(--text-primary);
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

.delete-forum-btn:hover {
  background: red;
  color: var(--text-inverse);
  transform: scale(1.05);
}