:root, .theme-black {
  /* Couleurs de fond */
  --primary-deep: #000000;
  --primary-soft: #111111;
  --primary-card: #222222;
  
  --secondary-main: #D4AF37;
  --secondary-dark: #b99333;
  --secondary-light: #d8a934;
  --secondary-shadow: rgba(212, 175, 55, 0.3);
  
  --text-primary: #ffffff;
  --text-secondary: #bbbbbb;
  --text-inverse: black;
  --error-red: #ff4d4d;
}

.theme-gold {
  --primary-deep: #c5a331;
  --primary-soft: #d1a536;
  --primary-card:  #e0b036;
  
  --secondary-main: #111111;
  --secondary-dark: #000000;
  --secondary-light: #222222;
  --secondary-shadow: rgba(0, 0, 0, 0.3);
  
  --text-primary: #000000;
  --text-secondary: #333333;
  --text-inverse: white;
}

body {
  background-color: var(--primary-deep);
  color: var(--text-primary);
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-button {
  background-color: var(--secondary-dark);
  color: var(--text-inverse);
  border: 1px solid var(--secondary-main);
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px var(--secondary-shadow);
  display: inline-block;
}

.theme-button:hover { 
  background-color: var(--secondary-light); 
  transform: translateY(-2px);
}

main {
  padding-top: 5rem;
}